<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components - Buttons | APPCAKE Frontend Document</title>
  <link rel="stylesheet" href="/static/css/base.min.css">
  <link rel="stylesheet" href="/static/css/xmp.min.css">
</head>
<body>
  <ul class="list-xmp">
    <li>
      <a class="ui-btn -default" role="button">
        <i class="ui-icon -arrow-up"></i>&nbsp;Submit Apps
      </a>
      <xmp class="-block" role="button">
        <a class="ui-btn -default">
          <i class="ui-icon -arrow-up"></i>&nbsp;Submit Apps
        </a>
      </xmp>
    </li>
    <li>
      <a class="ui-btn -default -pack" role="button">
        Pack Up&nbsp;&nbsp;&nbsp;&nbsp;<i class="ui-icon -chevron-up -blue"></i>
      </a>
      <xmp class="-block">
        <a class="ui-btn -default -pack" role="button">
          Pack Up&nbsp;&nbsp;&nbsp;&nbsp;<i class="ui-icon -chevron-up -blue"></i>
        </a>
      </xmp>
    </li>
    <li>
      <a class="ui-btn -default -square" role="button">View In iTunes</a>
      <xmp>
        <a class="ui-btn -default -square" role="button">View In iTunes</a>
      </xmp>
    </li>
    <li>
      <a class="ui-btn -default -small" role="button">Submit Links</a>
      <xmp>
        <a class="ui-btn -default -small" role="button">Submit Video</a>
      </xmp>
    </li>
    <li>
      <a class="ui-btn -default -pager" role="button" disabled>Prev</a>
      <a class="ui-btn -default -pager" role="button">Next</a>
      <xmp class="-block">
        <a class="ui-btn -default -pager" role="button" disabled>Prev</a>
        <a class="ui-btn -default -pager" role="button">Next</a>
      </xmp>
    </li>
    <li class="-inverse">
      <a class="ui-btn -large -transparent" role="button">How to install</a>
      <xmp>
        <a class="ui-btn -large -transparent" role="button">How to install</a>
      </xmp>
    </li>
    <li>
      <a class="ui-btn -large -primary" role="button">Contact Us</a>
      <xmp>
        <a class="ui-btn -large -primary" role="button">Contact Us</a>
      </xmp>
    </li>
    <li>
      <a class="ui-btn -link" role="button">www.fileup.net Link</a>
      <xmp>
        <a class="ui-btn -link" role="button">www.fileup.net Link</a>
      </xmp>
    </li>
    <li>
      <a class="ui-btn -bare" role="button">
        <i class="ui-icon -btn-itunes"></i>
      </a>
      <xmp class="-block" role="button">
        <a class="ui-btn -bare">
          <i class="ui-icon -btn-itunes"></i>
        </a>
      </xmp>
    </li>
  </ul>
</body>
</html>