<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components - Button Group | APPCAKE Frontend Document</title>
  <link rel="stylesheet" href="/static/css/base.min.css">
  <link rel="stylesheet" href="/static/css/xmp.min.css">
</head>
<body>
  <div class="ui-btn-group" role="group" aria-label="...">
    <a class="ui-btn -active">Featured</a>
    <a class="ui-btn">Just Arrived</a>
  </div>
  <xmp>
    <div class="ui-btn-group" role="group" aria-label="...">
      <a class="ui-btn -active">Featured</a>
      <a class="ui-btn">Just Arrived</a>
    </div>
  </xmp>
</body>
</html>