<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components - Icons | APPCAKE Frontend Document</title>
  <link rel="stylesheet" href="/static/css/base.min.css">
  <link rel="stylesheet" href="/static/css/xmp.min.css">
</head>
<body>
  <ul class="list-xmp">
    <li>
      <i class="ui-icon -chevron-down"></i>
      <xmp>
        <i class="ui-icon -chevron-down"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -chevron-up -blue"></i>
      <xmp>
        <i class="ui-icon -chevron-up -blue"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -chevron-up"></i>
      <xmp>
        <i class="ui-icon -chevron-up"></i>
      </xmp>
    </li>
    <li class="-inverse">
      <i class="ui-icon -ok"></i>  
      <xmp>
          <i class="ui-icon -ok"></i>  
      </xmp>
    </li>
    <li>
      <span class="ui-icon-wrapper -circle -lightgreen -xxsmall">
        <i class="ui-icon -ok"></i>  
      </span>
      <xmp class="-block">
        <span class="ui-icon-wrapper -circle -lightgreen -xxsmall">
          <i class="ui-icon -ok"></i>  
        </span>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -panel-title-bg"></i>
      <xmp>
        <i class="ui-icon -panel-title-bg"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -panel-title-bg -small"></i>
      <xmp>
        <i class="ui-icon -panel-title-bg -small"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -arrow-up"></i>
      <xmp>
        <i class="ui-icon -arrow-up"></i>
      </xmp>
    </li>
    <li>
      <span class="ui-icon-wrapper -badge">
        <i class="ui-icon -mac -white"></i>  
      </span>
      <xmp class="-block">
        <span class="ui-icon-wrapper -badge">
          <i class="ui-icon -mac -white"></i>  
        </span>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -mac"></i>
      <xmp>
        <i class="ui-icon -mac"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -universal"></i>
      <xmp>
        <i class="ui-icon -universal"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -ipad"></i>
      <xmp>
        <i class="ui-icon -ipad"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -iphone"></i>
      <xmp>
        <i class="ui-icon -iphone"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -twitter"></i>
      <xmp>
        <i class="ui-icon -twitter"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -facebook"></i>
      <xmp>
        <i class="ui-icon -facebook"></i>
      </xmp>
    </li>
    <li class="-inverse">
      <i class="ui-icon -search -white"></i>
      <xmp>
        <i class="ui-icon -search -white"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -search"></i>
      <xmp>
        <i class="ui-icon -search"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -badge"></i>
      <xmp>
        <i class="ui-icon -badge"></i>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -android"></i>
      <xmp>
        <i class="ui-icon -android"></i>
      </xmp>
    </li>
    <li class="-inverse">
        <i class="ui-icon -menu-toggle"></i>
      <xmp>
        <i class="ui-icon -menu-toggle"></i>
      </xmp>
    </li>
    <li>
      <span class="ui-icon-wrapper -square -blue">
        <i class="ui-icon -menu-toggle"></i>
      </span>
      <xmp class="-block">
        <span class="ui-icon-wrapper -square -blue">
          <i class="ui-icon -menu-toggle"></i>
        </span>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -english"></i>
      <xmp>
        <i class="ui-icon -english"></i>
      </xmp>
    </li>
    <li>
      <span class="ui-icon-wrapper -circle -green">
        <i class="ui-icon -cloud"></i>
      </span>
      <xmp class="-block">
        <span class="ui-icon-wrapper -circle -green">
          <i class="ui-icon -cloud"></i>
        </span>
      </xmp>
    </li>
    <li>
      <span class="ui-icon-wrapper -circle -yellow">
        <i class="ui-icon -magnet"></i>
      </span>
      <xmp class="-block">
        <span class="ui-icon-wrapper -circle -yellow">
          <i class="ui-icon -magnet"></i>
        </span>
      </xmp>
    </li>
    <li>
      <span class="ui-icon-wrapper -circle -blue">
        <i class="ui-icon -star"></i>
      </span>
      <xmp class="-block">
        <span class="ui-icon-wrapper -circle -blue">
          <i class="ui-icon -star"></i>
        </span>
      </xmp>
    </li>
    <li>
      <span class="ui-icon-wrapper -circle -blue -small">
        <i class="ui-icon -star -small"></i>
      </span>
      <xmp class="-block">
        <span class="ui-icon-wrapper -circle -blue -small">
          <i class="ui-icon -star -small"></i>
        </span>
      </xmp>
    </li>
    <li>
      <span class="ui-icon-wrapper -circle -blue -xsmall">
        <i class="ui-icon -star -xsmall"></i>
      </span>
      <xmp class="-block">
        <span class="ui-icon-wrapper -circle -blue -xsmall">
          <i class="ui-icon -star -xsmall"></i>
        </span>
      </xmp>
    </li>
    <li class="-inverse">
      <a class="ui-icon-wrapper -logo" href="">
        <span class="ui-icon-wrapper -circle -blue -small">
          <i class="ui-icon -star -small"></i>
        </span>
        <i class="ui-icon -logo-text"></i>
      </a>
      <xmp class="-block">
        <a class="ui-icon-wrapper -logo" href="">
          <span class="ui-icon-wrapper -circle -blue -small">
            <i class="ui-icon -star -small"></i>
          </span>
          <i class="ui-icon -logo-text"></i>
        </a>
      </xmp>
    </li>
    <li>
      <i class="ui-icon -btn-itunes"></i>
      <xmp>
        <i class="ui-icon -btn-itunes"></i>
      </xmp>
    </li>
  </ul>
</body>
</html>