<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components - Input Group | APPCAKE Frontend Document</title>
  <link rel="stylesheet" href="/static/css/base.min.css">
  <link rel="stylesheet" href="/static/css/xmp.min.css">
</head>
<body>
  <div class="-inverse">
    <div class="ui-input-group">
      <span class="ui-input-group-addon">
        <i class="ui-icon -search"></i>
      </span>
      <input class="ui-input" type="search" placeholder="Search">
    </div>
  </div>
  <xmp>
    <div class="ui-input-group">
      <span class="ui-input-group-addon">
        <i class="ui-icon -search"></i>
      </span>
      <input class="ui-input" type="search" placeholder="Search">
    </div>
  </xmp>
</body>
</html>