<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Components - Navs | APPCAKE Frontend Document</title>
  <link rel="stylesheet" href="/static/css/base.min.css">
  <link rel="stylesheet" href="/static/css/xmp.min.css">
</head>
<body>
  <ul class="list-xmp">
    <li class="-inverse">
      <ul class="ui-nav">
        <li role="presentation">
          <a class="ui-nav-item -active" href="">Home</a>
        </li>
        <li role="presentation">
          <a class="ui-nav-item" href="">Forum</a>
        </li>
        <li role="presentation">
          <a class="ui-nav-item" href="">Request</a>
        </li>
        <li role="presentation">
          <a class="ui-nav-item" href="">iOS App</a>
        </li>
        <li role="presentation">
          <a class="ui-nav-item -special" href="">Premium</a>
        </li>
      </ul>
    </li>
  </ul>  
  <xmp>
    <ul class="ui-nav">
      <li role="presentation">
        <a class="ui-nav-item -active" href="">Home</a>
      </li>
      <li role="presentation">
        <a class="ui-nav-item" href="">Forum</a>
      </li>
      <li role="presentation">
        <a class="ui-nav-item" href="">Request</a>
      </li>
      <li role="presentation">
        <a class="ui-nav-item" href="">iOS App</a>
      </li>
      <li role="presentation">
        <a class="ui-nav-item -special" href="">Premium</a>
      </li>
    </ul>
  </xmp>
</body>
</html>