<div class="page-header" id="components-button">
  <h1>按钮</h1>
</div>
<ul class="show-inline">
	<li>
		<button class="ui-btn">默认</button>
    <xmp class="-inline">
      <button class="ui-btn">默认</button>
    </xmp>
	</li>
  <li>
    <a class="ui-btn -follow">+</a>
    <xmp class="-inline">
      <a class="ui-btn -follow">+</a>
    </xmp>
  </li>
</ul>
<a class="ui-btn -download">
  发现更大的世界 <i class="ui-icon -chevron -right"></i>
</a>
<xmp>
  <a class="ui-btn -download">
    发现更大的世界 <i class="ui-icon -chevron -right"></i>
  </a>
</xmp>