<div class="page-header" id="components-icon">
  <h1>图标</h1>
</div>
<h3>默认</h3>
<ul class="show-inline">
  <li>
    <i class="ui-icon -chevron -right"></i>
    <xmp>
      <i class="ui-icon -chevron -right"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -link"></i>
    <xmp>
      <i class="ui-icon -link"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -logo"></i>
    <xmp>
      <i class="ui-icon -logo"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -v"></i>
    <xmp>
      <i class="ui-icon -v"></i>
    </xmp>
  </li>
</ul>
<h3>白色系列</h3>
<ul class="show-inline">
  <li>
    <i class="ui-icon -bookmark -white"></i>
    <xmp>
      <i class="ui-icon -bookmark -white"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -comment -large -white"></i>
    <xmp>
      <i class="ui-icon -comment -large -white"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -eye -white"></i>
    <xmp>
      <i class="ui-icon -eye -white"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -heart -large -white"></i>
    <xmp>
      <i class="ui-icon -heart -large -white"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -heart -small -white"></i>
    <xmp>
      <i class="ui-icon -heart -small -white"></i>
    </xmp>
  </li>
</ul>
<h3>黑色系列</h3>
<ul class="show-inline">
  <li>
    <i class="ui-icon -bookmark -black"></i>
    <xmp>
      <i class="ui-icon -bookmark -black"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -comment -large -black"></i>
    <xmp>
      <i class="ui-icon -comment -large -black"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -eye -black"></i>
    <xmp>
      <i class="ui-icon -eye -black"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -heart -large -black"></i>
    <xmp>
      <i class="ui-icon -heart -large -black"></i>
    </xmp>
  </li>
  <li>
    <i class="ui-icon -heart -small -black"></i>
    <xmp>
      <i class="ui-icon -heart -small -black"></i>
    </xmp>
  </li>
</ul>