<div class="page-header" id="components-panel">
  <h1>面板</h1>
</div>
<ul class="list-unstyled">
  <li>
    <div class="ui-panel">
      <div class="ui-panel-title">
        <span>其他推荐</span>
      </div>
      <div class="ui-panel-body">
        ...
      </div>
    </div>
    <xmp>
      <div class="ui-panel">
        <div class="ui-panel-title">
          <span>其他推荐</span>
        </div>
        <div class="ui-panel-body">
          ...
        </div>
      </div>
    </xmp>
  </li>
  <li>
    <div class="ui-panel">
      <div class="ui-icon-wrapper">
        <i class="ui-icon -comment -large -white"></i>
      </div>
      <div class="ui-panel-title">
        <span>用户评论</span>
      </div>
      <div class="ui-panel-body">
        ...
      </div>
    </div>
    <xmp>
      <div class="ui-panel">
        <div class="ui-icon-wrapper">
          <i class="ui-icon -comment -large -white"></i>
        </div>
        <div class="ui-panel-title">
        <span>用户评论</span>
      </div>
      <div class="ui-panel-body">
        ...
      </div>
    </div>
  </xmp>
</li>
<li>
  <div class="ui-panel -artilce-quote">
    <div class="ui-panel-title">
      <span>以下为引用内容</span>
    </div>
    <div class="ui-panel-body">
      ...
    </div>
  </div>
  <xmp>
    <div class="ui-panel -article-quote">
      <div class="ui-panel-title">
        <span>以下为引用内容</span>
      </div>
      <div class="ui-panel-body">
        ...
      </div>
    </div>
  </xmp>
</li>
</ul>