{% extends base.html %}

{% block title %}
体院健帅
{% end %}

{% block body %}
<!-- <img src="/static/img/tyjs/title.png" class="img-responsive center-block"> -->
<h1 class="text-center ui-title">体院健帅巨蟒</h1>
<p class="ui-desc">
	大家好 我叫石头 来自山东 180 24 68 毕业于山东济宁体育学院短跑学生 运动健帅型男 硕大坚挺持久巨蟒六块腹肌皇家御用 震惊城 匪气逼人 彪悍绝对好男人 顶级北方纯爷们 憨厚诚实口活一流 经典绝世好男人再现男人经典只为高端有品味人士提供服务专业按摩 推油疗精油体推 中式穴位泰式风情生殖器保健 舌游全身风情果冻让你疲惫的身心得到彻底的放松和缓解 你无需出门 只需要一个电话 也同样会享受至尊务 免费提供酒店 你无需置疑本人和照片绝对【100、100】真实 就连现在的小胡子也没有剃就是我最好的标志也许我不是最帅的 但是我一定是最真实的我  但是我一直是最优秀的 最合适你的 因为 我一定是最用心的  最真诚 为你全心 服务的！你的需要 正是我能所给与的 因为我是在用心为你服务错过你将错过一分惊喜 给我们彼此一次机会我绝对保证将是百倍的惊喜 我本着真诚用心 竭诚信誉 专业技术 所以我才可以毅力到 ！以上情况与照片有如有任何不符你拒付一切费用 我们本着真实诚信对客人付责任的态度竭诚为你激情服务一个电话一分钟一生难忘 我时刻怀揣一颗感恩的正是一路上您对我的支我才会在未来越走越远我愿做你生命中那颗瞬间划过的流星把最精彩的瞬间给 燃烧我的激情烈火温暖的寂寞的疲惫的身心 让你寂寞的漫长的深夜不在孤独激情的火焰为你点燃这狂欢的夜晚双臂为你遮风挡雨 灼热心的温暖你的身心绝世好男人【因为生活太多的无奈 我选择了用自己的身体来赚钱希望得到您的理解    石头】
	<br>
	<span class="ui-strong">
		【本人目前在 北京短暂停留预约从速 20号离开联系电话【13893681912   QQ2672274282 巨蟒20/7 微信 hj88426315 内有私照 支持在线视频验证】
	</span>
</p>
<ul class="list-unstyled ui-gallery clearfix">
	{% for i in range(1, 12) %}
	<li>
		<a href="/static/img/tyjs/{{ i }}.jpg" target="_blank">
			<img src="/static/img/tyjs/{{ i }}.jpg">
		</a>
	</li>
	{% end %}
</ul>
{% end %}