<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>main fixed</title>
  <link rel="stylesheet" href="/static/css/base.min.css">
</head>
<body>
  <header class="ui-header -fixed" style="background-image: url(/static/img/topic_cover.png)"></header>
  <div class="ui-main -fixed">
    <img class="ui-main-bg" src="/static/img/article_cover.png">
    <div class="ui-main-wrapper">
      <div class="ui-container">
        ...
      </div>
    </div>
  </div>
</body>
</html>